<form id="{{form.id}}" class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
	{% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts" id="blog-alert">
    </div>
	<div class="form-group has-feedback">
		<label>Post Title</label>
		<input type="text" class="form-control" name="post_title" id="post_title" value="{{post.title}}">
	</div>
	<div class="form-group has-feedback">
		<label>Post Content</label>
		<textarea class="form-control js-editor" style="height: 300px" name="post_content" id="post_content">{{post.content|raw}}</textarea>
	</div>
	<div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">
                {{form.submit}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button class="btn btn-block btn-lg btn-link" data-dismiss="modal" type="button">
                {{translate('CANCEL')}}</button>
        </div>
    </div>
</form>