<form id="{{ form.id }}" class="js-form" method="{{ form.method | default('POST') }}"
      action="{{ site.uri.public }}/{{ form.action }}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts" id="blog-alert">
    </div>
    <div class="form-group has-feedback">
        <label>Post Title</label>
        <input type="text" class="form-control" name="post_title" id="post_title" value="{{ post.title }}">
    </div>
    <div class="form-group has-feedback">
        <label>Post Image Url</label>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <input type="text" class="form-control" name="post_og_image" id="post_og_image" value="{{ post.post_og_image }}">
            </div>
            <div class="col-xs-12 col-sm-5 pull-right">
                <input type="file" class="form-control" name="post_image" id="post_image" accept="image/*">
            </div>
            <div class="col-xs-12 col-sm-12" style="margin: 3rem auto">
                <button type="button" class="btn btn-block btn-lg btn-success post_image_upload" data-post_id="{{ post.id }}" id="post_image_upload">
                    {{ translate('UPLOAD_PICTURE') }}</button>
            </div>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label>Post Content</label>
        <textarea class="form-control js-editor" style="height: 300px" name="post_content"
                  id="post_content">{{ post.content|raw }}</textarea>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">
                {{ form.submit }}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button class="btn btn-block btn-lg btn-link" data-dismiss="modal" type="button">
                {{ translate('CANCEL') }}</button>
        </div>
    </div>
</form>
