{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="slug" data-column-template="#blog-table-column-info" data-priority="">Blogs <i class="fa fa-sort"></i></th>
				<th class="sorter-metatext" data-column-name="read_permission" data-column-template="#blog-table-column-read-perm" data-priority="1">Read Permission <i class="fa fa-sort"></i></th>
				<th class="sorter-metatext" data-column-name="write_permission" data-column-template="#blog-table-column-write-perm" data-priority="1">Write Permission <i class="fa fa-sort"></i></th>
				<th class="sorter-metatext" data-column-template="#blog-table-column-actions" data-sorter="false" data-filter="false" data-priority="1">Actions<i class="fa fa-sort"></i></th>
			</tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}

    {% verbatim %}
    <script id="blog-table-column-info" type="text/x-handlebars-template">
        <td data-text="{{row.slug}}">
            <strong>
                <a href="{{site.uri.public}}/blogs/view/{{row.slug}}">{{row.title}} ({{row.slug}})</a>
            </strong>
        </td>
    </script>
	
	<script id="blog-table-column-read-perm" type="text/x-handlebars-template">
        <td data-text="{{row.slug}}">
            <strong>
                {{row.read_permission}}
            </strong>
        </td>
    </script>

	<script id="blog-table-column-write-perm" type="text/x-handlebars-template">
        <td data-text="{{row.slug}}">
            <strong>
                {{row.write_permission}}
            </strong>
        </td>
    </script>
	
	<script id="blog-table-column-actions" type="text/x-handlebars-template">
		<td>
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					Actions
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<li>
						<a href="#" data-slug="{{row.slug}}" class="js-blog-edit">
						   <i class="fa fa-edit"></i> Edit blog
						</a>
					</li>
					<li>
						<a href="#" data-slug="{{row.slug}}" class="js-blog-delete">
							<i class="fa fa-trash-o"></i> Delete blog
						</a>
					</li>
				</ul>
			</div>
		</td>
    </script>
    
    {% endverbatim %}

{% endblock %}